//Colors

$color-back: #f2f6fe;
$color-pink-light: #ffd3e2;
$color-blue-light: #dbf6fd;
$color-orange-light: #fee4cb;
$color-green-light: #baf3d2;
$color-pink-dark: #ff72ad;
$color-blue-dark: #2bc8fe;
$color-orange-dark: #ff723d;
$color-green-dark: #02cf51;
$color-black: #000000;
$color-white: #ffffff;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #4b4b4b;
$color-grey-dark-2: #acb4b6;
//Fonts
$primary-font: "Poppins", sans-serif;

//BREAK POINT

$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
::selection {
  color: $color-white;
  background-color: $color-black;
}
html {
  font-size: 62.5%; //1rem=10px
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; //1rem=8px
  }
  @media only screen and (max-width: $bp-large) {
    font-size: 45%; //1rem=8px
  }
}
body {
  font-family: $primary-font;
  font-weight: 300;
  line-height: 1.6;
  box-sizing: border-box;
}
